<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" 
       href = {{ url_for('static', filename = 'style.css') }}/>
       <h1 class="Title"> Music Discovery: Featuring </h1> 
    </head>
    <body>
     <p> Expertly done <br>
     <b id="Agent">{{ track_res[0] }}</b> by {{ art_id[1] }} <br></p>
     <p>
         <img class="Album_Img" src = {{ track_res[2] }} />
     </p>
     <p>
         {% if track_res[1] != None %}
         <a href= {{ track_res[1] }}> Preview Link</a>
         {% else %}
         
         Preview not available. <br>
         {% endif %}
     </p>
     <p>
         {{ track_len }} <br>
         {{ track_res[0] }} {{ track_res[1] }} {{ track_res[2] }}
     </p>
     
    
        
    </body>
    
    
</html>