<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" 
       href = {{ url_for('static', filename = 'style.css') }}/>
       <h1 class="Title"> Music Discovery </h1> 
    </head>
    <body>
        <h1> Now featuring: </h1>
     <b id="Agent">{{ track_res[0] }}</b> by {{ art_id[1] }} |
     {% if track_res[1] != None %} 
     <a href ={{ genius_link }} target="_blank" rel="noreferrer noopener"> {{ genius_link }} </a> | <button onClick="window.location.reload();">Refresh Page</button> <br></p>
     {% else %}
     Lyrics not available due to a cache problem. Reloading to a different song...
     <meta http-equiv="refresh" content="5" />
     {% endif %}
     <p>
         <img class="Album_Img" src = {{ track_res[2] }} />
     </p>
     <p>
         {% if track_res[1] != None %}
         <audio controls>
  
          <source src= {{ track_res[1] }}>
        Your browser does not support the audio element.
        </audio>
         {% else %}
         
         Preview not available. Sorry. <br>
         {% endif %}
     </p>
   
    </body>
    
    
</html>